<div class="data-form">
    <form method="POST" action="<%=`/users/${User._id}/update?_method=PUT`%>">
        <h2>Edit user:</h2>
        <label for="inputFirstName">First Name</label>
        <input type="text" name="first" id="inputFirstName" value="<%=
        User.name.first %>" placeholder="First" autofocus>
        <label for="inputLastName">Last Name</label>
        <input type="text" name="last" id="inputLastName"
               value="<%=User.name.last %>" placeholder="Last">
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword"
               value="<%= User.password %>" placeholder="Password" required>

        <button type="submit">Update</button>
    </form>
</div>