<!DOCTYPE html>
<html lang="en">
<head>
  <title>Flashing Flash Messages</title>
      <link rel="stylesheet" type="text/css" href="css/flash-message.css">
</head>
<body>
  <div class="flash-message success">
    Success message goes here.
  </div>

  <div class="flash-message error">
    Error message goes here.
  </div>

  <div class="flash-message warning">
    Warning message goes here.
  </div>

  <div class="flash-message info">
    Info message goes here.
  </div>
</body>
</html>
