<!DOCTYPE html>
<html lang="en">
<head>
  <title>Log In | By Code Info</title>
  <link rel="stylesheet" type="text/css" href="css/login.css">
  <link
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
          rel="stylesheet"
  />
</head>
<body>
<div class="data-form">
  <form>
  <h1>Login</h1>
  <button action="/users/login" method="POST">
    <label for="inputEmail">Email</label>
    <input class="form-control" type="email" name="email" id="inputEmail" placeholder="Email Address" required />
    <label for="inputPassword">Password</label>
    <input class="form-control" type="password" name="password" id="inputPassword" placeholder="Password" required/>
    <button class="btn btn-lg btn-primary btn-block" type="submit"/> Login </button>
    </form>
</div>
</p>
</body>
</html>

